.exercise-container {
  background-color: #fafafa;
  height: 100%;

  div[role="group"] {
    height: 100%;
  }
}

// Shared styles through all exercise pages
.exercise-header {
  .description, .tutorial {
    padding: 30px;
    line-height: 20px;
  }

  .tutorial {
    padding-top: 0px;
  }
}