@import "../../global";

.ThoughtReframing {

  .entry {
    padding: 20px;
    border-bottom: 1px solid #ddd;

    .header {
      display: flex;
      i {
        padding-left: 10px;
        &:hover {
          cursor: pointer;
          color: #888;
        }
      }
      .date {
        font-size: 22px;   
        font-weight: bold;
      }
    }
    
    .distortions-container {
      display: flex;
      margin-top: 5px;
      margin-bottom: 10px;
      margin-left: -1px;

      div {
        font-size: 12px;
        background-color: #ccc;
        border: 1px solid #bbb;
        border-radius: 5px;
        padding: 5px;
        color: #444;
        margin-right: 5px;
      }
    }

    .thoughts-container {
      display: flex;
      .distortedThought, .rationalThought {
        width: calc(50% - 20px);
        font-size: 12px;
        color: #777;
        flex: 1;
      }

      .rationalThought {
        padding-left: 10px;
        flex: 1;
        //border-left: 1px solid;
        border-image: 
          linear-gradient(
            to bottom, 
            rgba(0, 0, 0, 0),
            rgba(221, 221, 221, 1) 15%,
            rgba(221, 221, 221, 1) 50%,
            rgba(221, 221, 221, 1) 85%,
            rgba(0, 0, 0, 0),
          ) 1 100%;
      }
    }
  }

  .add-btn {
    position: absolute;
    right: 20px;
    top: 60px;
  }
}
